@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "@catppuccin/tailwindcss/mocha.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-branding: "Playfair Display", serif;
  --shadow: 4px 4px 0px 0px oklch(0% 0 0);
}

body {
  font-family: "Jetbrains Mono", monospace;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-ctp-lavender);
  letter-spacing: var(--tracking-tight);
}

h1 {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
}

ul,
ol {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

pre {
  padding: calc(var(--spacing) * 4);
  border-radius: var(--radius-sm);
  position: relative;
}

.pre-btn {
  position: absolute;
  top: calc(var(--spacing) * 1.5);
  right: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
}

.w-inherit {
  width: inherit;
}

p,
li,
a,
em,
strong,
code,
blockquote,
del,
span {
  font-size: var(--text-sm);

  @variant md {
    font-size: var(--text-base);
  }
}
