---
import { getCollection } from "astro:content";
import Card from "../components/card.astro";
import Gap from "../components/gap.astro";
import Heading from "../components/heading.astro";
import Layout from "../components/layout.astro";
import Link from "../components/link.astro";
import { getExcerpt } from "../utils";

const thoughts = await getCollection("thoughts");
---

<Layout title="/thoughts">
  <Gap>
    <Heading variant="h1">Thoughts</Heading>
    <ul class="list-none!">
      {
        thoughts.map(({ data: { slug, title }, body }) => (
          <Card classNames="py-2 px-4 flex flex-col gap-2">
            <div>
              <li>
                <Link to={`/thoughts/${slug}`}>{title}</Link>
              </li>
            </div>
            <p class="">{getExcerpt(body)}</p>
          </Card>
        ))
      }
    </ul>
  </Gap>
</Layout>
