---
import type { Stylable, Variant } from "../types";
import { twm } from "../utils";

interface Props extends Stylable {
  variant: Variant;
}

const { classNames, variant } = Astro.props;

const classes = twm(`text-ctp-lavender`, classNames);
---

{
  variant === "h1" && (
    <h1 class={classes}>
      <slot />
    </h1>
  )
}

{
  variant === "h2" && (
    <h2 class={classes}>
      <slot />
    </h2>
  )
}

{
  variant === "h3" && (
    <h3 class={classes}>
      <slot />
    </h3>
  )
}
